:root {
    --bs-main: #D32F2F;
    --bs-secondary: #ffffff;
    --bs-white: rgba(250, 250, 250, 1);  
    --bs-white8: rgba(250, 250, 250, 0.8);  
    --bs-white6: rgba(250, 250, 250, 0.6);  
    --bs-white5: rgba(250, 250, 250, 0.5);  
    --bs-dark: rgba(33, 33, 33, 1);
    --bs-dark8: rgba(33, 33, 33, 0.8);
    --bs-dark6: rgba(33, 33, 33, 0.6);
    --bs-dark5: rgba(33, 33, 33, 0.5);
    --bs-dark2: rgba(33, 33, 33, 0.2);
    --bs-dark05: rgba(33, 33, 33, 0.05);
    --bs-grey: #BDBDBD;
    --bs-lightGrey: #E0E0E0;
    --font-heading: 'Montserrat', sans-serif;
    --font-body: 'Roboto', sans-serif;
}
/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
body {
    font-family: var(--font-body);
    background-color: var(--bs-secondary);
    color: var(--bs-dark);
    font-size: 1.2rem;
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--bs-dark);
}
h1 {
    font-size: 2.5rem;
    font-weight: 700;
}
h2 {
    font-size: 2rem;
    font-weight: 600;
}
h3 {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--bs-main);
}
h4 {
    font-size: 1.5rem;
    font-weight: 600;
}
h5 {
    font-size: 1.25rem;
    font-weight: 600;
}
h6 {
    font-size: 1rem;
    font-weight: 600;
}
p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--bs-dark8);
}
a {
    text-decoration: none;
    color: var(--bs-main);
}
a:hover {
    color: var(--bs-white);
}
section {
    padding: 100px 0; 
}

/* Buttons */
.btn {
    background-color: var(--bs-main);
    font-family: var(--font-heading);
    color: var(--bs-white);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    transition: all 0.5s ease;
    border: 2px solid var(--bs-main);
    font-weight: 500;
    border-radius: 0 1.5rem 0 1.5rem ;
}
.btn:hover {
    background-color: #a62828; /* Temnejši odtenek rdeče */
    box-shadow: 0 2px 8px 4px rgba(33,33,33,0.18);
    color: var(--bs-white);
}
/* Footer */
footer {
    background-color: var(--bs-dark);
}
.footer-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: var(--bs-main);
}

.hover-link:hover {
    color: var(--bs-main) !important;
    padding-left: 5px;
    transition: all 0.3s ease;
}

/* Logo */
.logoWrapper {
    font-size: 1.5rem;
    font-weight: 700;
    gap: 0.5rem;
    font-family: var(--font-heading);
}

.logoText {
    color: var(--bs-white);
}
.logoTextRed {
    color: var(--bs-main);
}


/* Hero section */
.hero-section {
    margin-top: -100px;
    padding: 0px 0 0 0;
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    color: var(--bs-white);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.home-hero-title {
    color: var(--bs-dark);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.hero-description {
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

.orange-dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FF8A00;
    left: 90px;
    top: 230px;
}

.green-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #8BC34A;
    right: 50%;
    top: 220px;
}

.blue-dot {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #03A9F4;
    left: 45%;
    bottom: 50px;
}

.red-dot {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FF5722;
    right: 10%;
    top: 425px;
}

.image-container {
    position: relative;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Navigation */
header {
    background-color: var(--bs-dark);
}
nav {
    padding: 2rem 0;
}
.nav-item {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
    padding-bottom: 4px; /* space for underline */
}
.nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: var(--bs-main); /* same color as text */
    transition: width 0.3s ease-in-out;
}
.nav-item:hover::after {
    width: 100%;
}
.nav-item:hover .nav-link {
    color: var(--bs-main);
}
.nav-link {
    color: var(--bs-white);
    font-family: var(--font-heading);
    font-weight: 500;
}
.navbar-nav{
    margin-right: 2rem;
}
/* Stil za ikono v headerju */
.iconNav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Poskrbi, da je ikona centrirana vertikalno */
}

.iconNav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bs-white);
    font-size: 1.5rem; /* Velikost ikone */
    transition: color 0.3s ease; /* Gladek prehod barve */
}

.iconNav a:hover {
    color: var(--bs-main); /* Rdeča barva ob hoverju */
}
/* Random Helpers */
.redText {
    color: var(--bs-main);
}

/* TODO: */
.diagonalCorner{
    border-radius: 0 30px 0 30px ;
}
.povdrajenParagraph {
    color: var(--bs-dark);
}
.white-text {
    color: var(--bs-white);
}
/*Index*/
.features-section {
    text-align: center;
}

.section-subtitle {
    color: var(--bs-main);
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section-title {
    margin-bottom: 20px;
}

.section-description {
    max-width: 700px;
    margin: 0 auto 60px;
}

.feature-card {
    background-color: var(--bs-white);
    padding: 40px 25px;
    height: 100%;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.feature-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 25px;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--bs-main);

}

.feature-description {
    color: var(--bs-dark6);
    font-size: 0.95rem;
}

.campaign-cards {
    padding: 40px 0;
}

.campaign-card {
    background-color: var(--bs-white);
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    height: 100%;
    position: relative;
    color: var(--bs-dark);
    padding-bottom: 80px;
}

.campaign-image {
    position: relative;
    height: 240px;
    overflow: hidden;
}

.campaign-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.progress-container {
    position: relative;
    padding: 20px 30px;
}

.progress-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-label {
    color: var(--bs-dark8);
    font-size: 0.8rem;
    font-weight: 500;
}

.progress-value {
    font-weight: 600;
    font-size: 1.1rem;
}

.percentage {
    font-size: 2.5rem;
    font-weight: 700;
}

.percentage-symbol {
    font-size: 1.2rem;
    vertical-align: super;
}

.campaign-details {
    padding: 20px 30px;
}

.campaign-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.3;
}

.campaign-description {
    color: var(--bs-dark8);
    font-size: 1rem;
    margin-bottom: 30px;
}

.donate-btn {
    width: 55px;
    height: 55px;
    border-radius: 40px 0 0 0;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-top: 10px;
}
.campainGreyLine{
    width: 1px;
    height: 50px;
    background-color: var(--bs-dark2);
}
.campaignGreyLineH{
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background-color: var(--bs-dark2);
}

#header .navbar {
    background-color: transparent !important;
    height: 100px !important;
    position: relative !important;
    z-index: 9999 !important; 
}

/* SOcial media ikone pod ABOUS US */
.social-icon {
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    transition: all 0.3s ease;
    color: var(--bs-white);
}

.social-icon i {
    font-size: 1rem;
}

.social-icon:hover {
    background-color: var(--bs-main) !important;
    color: var(--bs-white) !important;
    transform: translateY(-3px);
}
/* ABOUS US */
.section-alternate {
    position: relative;
    z-index: 1;
    background-color: var(--bs-dark05);
}

.section-alternate::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/MapBackground.png) center/contain repeat;
    opacity: 0.08; /* Adjust the opacity as needed */
    z-index: 0; /* Ensure it stays behind the content */
}
.section-alternate .container {
    position: relative;
}
.card-item {
    transition: all 0.6s ease;
    cursor: pointer;
    position: relative;
    padding: 0;
}

.card-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}

.image-wrapper {
    overflow: hidden;
    border-top-right-radius: 3rem;
    position: relative;
}

.image-wrapper img {
    transition: transform 0.6s ease;
    transform: scale(1);
}


.card-item:hover .image-wrapper img {
    transform: scale(1.1);
}

/* STAtistika kartice */
.card-item {
    padding: 1.75rem 1rem 1.75rem 1.5rem;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: left;
    position: relative;
    cursor: default;
    z-index: 5;
    background-color: var(--bs-dark2);
}



.card-item:hover, .card-item-vertical:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.card-item i {
    font-size: 2rem;
    color: var(--bs-main);
    padding-left: 0.5rem;
    position: relative;
}

.card-item .stat-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-item-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1.5rem 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-color: var(--bs-lightGrey);
    transition: all 0.3s ease;
    z-index: 22;
}

#higherH2{
    position: relative;
    z-index: 9999;
}

/* Prijava Registracija */
.prijavaRegistracijaWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
    margin: 0 auto;

}
.customDropdown {
    background-color: rgba(0, 0, 0, 0);
}
.customDropdown li a{
    color: var(--bs-main);
}
.customDropdown li a:hover{
    background-color: rgba(0, 0, 0, 0);
    color: var(--bs-white);
}
#prostovoljecForm, #drustvoForm {
    opacity: 0;
    visibility: hidden;
    position: absolute; /* Odstrani iz toka dokumenta */
    width: 100%; /* Zagotovi, da zavzame celotno širino */
    transition: opacity 0.3s ease;
}

/* Ko je forma vidna */
#prostovoljecForm.show, #drustvoForm.show {
    opacity: 1;
    visibility: visible;
    position: relative; /* Vrne formo v tok dokumenta */
}

/* Projekti kartice info */
.hours-badge {
    position: absolute;
    bottom: 15px;
    right: 20px;
    background: linear-gradient(135deg, var(--bs-main), #ff6b6b);
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 3px;
    font-family: var(--font-heading);
}

.hours-value {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
}

.hours-label {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: lowercase;
}

/* Pagination styles */
.pagination {
    gap: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem 0;
}

.pagination .page-item {
    margin: 0 2px;
    display: flex;
}

.pagination .page-link {
    color: var(--bs-white);
    border-radius: 0.5rem;
    border: 1px solid var(--bs-main);
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    background-color: transparent;
}

.pagination .page-item.active .page-link {
    background-color: var(--bs-main);
    border-color: var(--bs-main);
    color: var(--bs-white);
}

.pagination .page-link:hover {
    background-color: var(--bs-main);
    border-color: var(--bs-main);
    color: var(--bs-white);
}

.pagination .page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(211, 47, 47, 0.25);
    outline: none;
}

.pagination .fa-chevron-left,
.pagination .fa-chevron-right { 
    font-size: 0.875rem;
}


.hero-podstran {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 60vh;
}

/* Profile */
.profile-page .nav-item button{
    color: var(--bs-dark);
}
.tab-content label{
    color: var(--bs-dark);
}




/* header (black tekst on white pages, white tekst on dark pages */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent !important;
}

header .navbar {
    background-color: transparent !important;
}

.white-page .nav-link,
.white-page .navbar-nav .iconNav a,
.white-page .logoText {
    color: var(--bs-dark) !important;
}

.logoTextRed {
    color: var(--bs-main) !important;
}

.white-page .nav-item:hover .nav-link {
    color: var(--bs-main) !important;
}

.white-page .navbar-toggler-icon {
    filter: brightness(0) !important;
}

.hero-section {
    padding-top: 100px;
    margin-top: 0;
}

.hero-podstran {
    padding-top: 100px;
}