:root {
    --bs-danger: #ff0000;
    --bs-secondary: #000000;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #444444;
    font-size: 15px;
    line-height: 1.6;
}

.footer-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: var(--bs-danger);
}

.hover-link:hover {
    color: var(--bs-danger) !important;
    padding-left: 5px;
    transition: all 0.3s ease;
}